//==================================MAIN-STYLES===================================================

.vyazanka {
    margin-left: 185px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
@media (max-width: 1023px) {
    .vyazanka {
        margin-left: 0;
    }
}
html {

}
body {
    margin: 0;
    background-color: #f2e3d0;
}
.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
}
.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title {
    font-family: "Pacifico", cursive;
    font-size: 72px;
    line-height: 106%;
    font-weight: 400;
    color: white;
}
.subtitle {
    font-family: "Pacifico", cursive;
    font-size: 60px;
    line-height: 126%;
    color: #a93439;
}
.text {
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    line-height: 116%;
    color: white;
}
.weight {
    font-weight: 700;
}

//==================================HEADER===================================================

.header {
    background-image: url(../images/header/header__bg.png);
    background-size: cover;
    margin-bottom: 80px;
}
.header__inner {
    margin-bottom: 145px;
    height: 100vh;
}
.logo {
    margin-bottom: 60px;
}
.logo__img {
}
.header__title {
    text-align: center;
}
.header__content {
    .container {
        display: flex;
        justify-content: flex-end;
    }
    position: relative;
    padding-bottom: 200px;
}
.header__content-img {
    width: 45%;
    position: absolute;
    bottom: -3%;
}
.header__textblock {
    width: 60%;
}
.header__textblock-title {
    display: flex;
    font-size: 40px;
    color: white;
    margin-bottom: 40px;
}
.header__textblock-img {
    margin-right: 20px;
}
.header__text {
    margin-bottom: 40px;
}
@media (max-width: 1440px) {
    .header__content {
        padding-bottom: 50px;
    }
    .header__textblock {
        width: 50%;
    }
    .header__textblock-title {
        align-items: flex-start;
    }
    .header__content-img {
        width: 50%;
    }
}

//==================================TASKS===================================================

.main {
}
.tasks-portraits {
    background-image: url(../images/tasks/tasks__left-bg.svg);
    background-repeat: no-repeat;
}
.tasks {
    margin-bottom: 80px;
}
.tasks__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tasks__content {
    width: 36%;
    margin-top: 100px;
}
.tasks__title {
    margin-bottom: 60px;
}
.tasks__list {
}
.tasks__item {
    margin-bottom: 66px;
}
.tasks__text {
    max-width: 380px;
    height: 60px;
    position: relative;
    padding-left: 100px;
}
.tasks__text::before {
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    width: 70px;
    height: 70px;
    left: 0;
    top: -35%;
}
.tasks__text1::before {
    background-image: url(../images/tasks/tasks__number1.svg);
}
.tasks__text2::before {
    background-image: url(../images/tasks/tasks__number2.svg);
}
.tasks__text3::before {
    background-image: url(../images/tasks/tasks__number3.svg);
}
.tasks__img {
    width: 60%;
}

//==================================PORTRAITS===================================================

.portraits {
}
.portraits__wrapper {
    display: flex;
    align-items: center;
}
.portraits__img {
    margin-left: 87px;
    margin-right: 116px;
}
.portraits__content {
}
.portraits__title {
    color: #A93439;
    margin-bottom: 60px;
}
.portraits__textblock {
}
.portraits__text {
    color: #000;
}
.portraits__text:not(:last-child) {
    margin-bottom: 40px;
}

//==================================DESICION===================================================

.bg__orange {
    background-color: #EA831C;
}
.desicion {
    padding-top: 120px;
    position: relative;
    margin-bottom: 80px;
}
.desicion__wrapper {
    display: flex;
    align-items: inherit;
}
.desicion__content {
    flex-basis: 55%;
    padding-bottom: 370px;
}
.desicion__title {
    margin-bottom: 60px;
}
.desicion__textblock {
}
.desicion__text {
    margin-bottom: 50px;
}
.desicion__content-list {
    display: flex;
}
.desicion__item {
    display: flex;
    align-items: center;
}
.desicion__item-img {
    margin-right: 20px;
}
.desicion__item-text {
    font-size: 20px;
    line-height: 23px;
}
.desicion__img {
    position: absolute;
    right: 0;
    top: 15%;
    z-index: 5;
    width: 45%;
}
.desicion__verevka {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
}
@media (max-width: 1440px) {
    .desicion__img {
        width: 40%;
        top: 40%;
        transform: translateY(-50%);
    }
}

//==================================MECH===================================================

.mech {
    position: relative;
    margin-bottom: 120px;
}
.mech__wrapper {
}
.mech__title {
    text-align: center;
    margin-bottom: 60px;
}
.mech__content {
    display: flex;
    justify-content: space-around;
    margin-bottom: 80px;
}
.mech__item {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mech__item-img {
    margin-bottom: 32px;
}
.mech__item-text {
    text-align: center;
    width: 70%;
}
.mech__images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 5;
}
.mech__img {
}
.mech__img1 {
    width: 25%;
}
.mech__img2 {
    width: 15%;
}
.mech__verevka {
    position: absolute;
    bottom: 10%;
    z-index: 2;
}
@media (max-width: 1300px) {
    .mech__item-text {
        font-size: 20px;
    }
}
@media (max-width: 768px) {
    .mech__content {
        flex-wrap: wrap;
    }
    .mech__item {
        flex-basis: 50%;
        margin-bottom: 40px;
    }
}
@media (max-width: 500px) {
    .mech__item-text {
        font-size: 14px;
    }
}

//==================================FOND===================================================

.fond {
    padding-bottom: 80px;
}
.fond__wrapper {
}
.fond__title { 
    text-align: center;
    margin-bottom: 80px;
}
.fond__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 80px;
}
.fond__item {
    flex-basis: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}
.fond__item-img {
    margin-bottom: 32px;
}
.fond__item-text {
}
.fond__bottom {
    background-image: url(../images/fond/fond__verevka.svg);
    background-size: cover;
    height: 28px;
}
@media (max-width: 500px) {
    .fond__item {
        flex-basis: 50%;
    }
}

//==================================WHY===================================================

.why {
    background-image: url(../images/why/why__bg.svg);
    background-size: cover;
    background-position-y: bottom;
    padding-bottom: 150px;
}
.why__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.why__title {
    text-align: center;
    margin-bottom: 60px;
}
.why__text {
    max-width: 806px;
    margin-bottom: 40px;
}

//==================================PROMO===================================================

.promo {
    margin-top: -10%;
    margin-bottom: 184px;
}
.promo__wrapper {
}
.promo__img1 {
    margin-bottom: 80px;
    width: 95%;
}
.promo__title {
    margin-bottom: 60px;
    text-align: center;
}
.promo__img1 {
}

//==================================REC===================================================

.rec {
    position: relative;
}
.rec__wrapper {
}
.rec__title {
    text-align: center;
    font-weight: 400;
    margin-bottom: 60px;
}

//==================================SLIDERS1-2===================================================

.sliders__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;
}
.sliders__block-img {
    position: absolute;
    bottom: 0;
    right: 3%;
    width: 15%;
}
.slider1__block {
    width: 50%;
    margin: 0 auto;
}
.slider2__block {
    width: 50%;
    margin: 0 auto;
}
.slider {
    .slick-dots {
        margin-top: 12px;
        display: flex !important;
        justify-content: center;
    }
    .slick-dots button {
        background-color: white;
        height: 12px;
        color: #A93439;
        width: 12px;
        border: transparent;
        margin-left: 8px;
        margin-right: 8px;
        cursor: pointer;
        font-size: 0px;
        border-radius: 50%;
    }
    .slick-active button {
        background-color: #A93439;
    }
}
.slider1__item {
}
.slider1__item-img {
    margin: 0 auto;
}
@media (max-width: 1500px) {
    .sliders__block {
        flex-direction: column;
    }
    .slider1__block {
        margin-bottom: 80px;
    }
}

//==================================FOOTER===================================================

.footer {
    background-image: url(../images/obv/obv__bg.svg);
    background-size: cover;
    background-position-x: center;
    background-position-y: top;
    padding-top: 427px;
    margin-top: -427px;
}

//==================================OBV===================================================

.obv {
    margin-bottom: 80px;
    position: relative;
}
.obv__img {
    position: absolute;
    bottom: 0;
    left: 3%;
    width: 20%;
}
.obv__wrapper {
}

//==================================SLIDER3===================================================

.slider3__block {
}
.slider3__title {
    margin-bottom: 60px;
    text-align: center;
    color: white;
}
.slider3 {
    .slick-dots {
        margin-top: 12px;
        display: flex !important;
        justify-content: center;
    }
    .slick-dots button {
        background-color: white;
        height: 12px;
        color: #A93439;
        width: 12px;
        border: transparent;
        margin-left: 8px;
        margin-right: 8px;
        cursor: pointer;
        font-size: 0px;
        border-radius: 50%;
    }
    .slick-active button {
        background-color: #A93439;
    }
}
.slider3__item {
}
.slider3__item-img {
    width: 60%;
    margin: 0 auto;
}

//==================================RESULT===================================================

.result {
    position: relative;
    padding-bottom: 140px;
}
.result__verevka {
    position: absolute;
    left: 0;
    bottom: 0;
}
.result__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.result__content {
}
.result__title {
    margin-bottom: 32px;
}
.result__text {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 32px;
}
.big__percent {
    font-size: 60px;
    line-height: 120%;
    font-family: "Pacifico", cursive;
    font-weight: 400;
}
.result__list {
}
.result__item {
    display: flex;
    align-items: center;
}
.result__item-text1 {
    font-size: 20px;
    line-height: 400%;
    width: 76px;
    margin-right: 60px;
}
.result__item-block2 {
    width: 152px;
    margin-right: 60px;
    color: white;
}
.result__item-block3 {
    width: 152px;
    color: white;
}
.result__item-title1 {
    font-family: "Raleway", sans-serif;
    font-size: 48px;
    line-height: 200%;
    font-weight: 700;
}
.result__item-title2 {
    font-family: "Raleway", sans-serif;
    font-size: 32px;
    line-height: 200%;
    font-weight: 700;
}
.result__item-title3 {
    font-size: 20px;
    line-height: 120%;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    margin-top: 16px;
    border-top: 2px solid white;
    padding-top: 16px;
}
.result__img {
}

//==================================SCROLL-BAR===================================================

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
    width: 12px;
    /* ширина для вертикального скролла */
    height: 8px;
    /* высота для горизонтального скролла */
    background-color: white;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
    background-color: #F02F3F;
    border-radius: 9em;
    -webkit-box-shadow: inset 1px 1px 10px #f3faf7;
    box-shadow: inset 1px 1px 10px #f3faf7;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #253861;
}

/* Стрелки */
::-webkit-scrollbar-button:vertical:start:decrement {
    background: linear-gradient(120deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(240deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(0deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
}

::-webkit-scrollbar-button:vertical:end:increment {
    background: linear-gradient(300deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(60deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(180deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
}

::-webkit-scrollbar-button:horizontal:start:decrement {
    background: linear-gradient(30deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(150deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(270deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
}

::-webkit-scrollbar-button:horizontal:end:increment {
    background: linear-gradient(210deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(330deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(90deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
}
